li {
  padding: 5px;
  margin: 5px;
  background: #ffb85a;
}

.label {
  font-weight: bold;
}

.update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.aclonica {
  font-family: 'Aclonica', sans-serif;
}

.center-stuff {
  display: flex;
flex-direction: column;
align-items: center;

}